body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    
}

.header {
    background-color: #ff0000; /* Red header background */
    color: #ffffff; /* White header text */
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

.navigation ul li a {
    color: #343a40; /* Dark text color for navigation links */
    text-decoration: none;
    font-weight: bold;
}

.navigation ul li a:hover {
    color: #ff0000; /* Hover color matches header background */
}

.section {
    margin-top: 20px;
}

.section h2 {
    color: #343a40; /* Dark text color for section headings */
}

.button {
    background-color: #ff0000; /* Red button background */
    color: #ffffff; /* White button text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #cc0000; /* Darker red on hover */
}
.navigation {
    padding-top: 0.5cm; /* Move the content down by 2 cm */
}
.footer {
    background-color: #ff0000; /* Red footer background */
    color: #ffffff; /* White footer text */
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 50px; /* Increased margin to move footer downwards */
}

.section {
    margin-top: 20px;
}

.section h2 {
    color: #343a40; /* Dark text color for section headings */
}

.section p {
    color: #6c757d; /* Text color for paragraphs */
    line-height: 1.6; /* Increase line height for better readability */
}

.section ol {
    color: #6c757d; /* Text color for ordered lists */
    padding-left: 20px; /* Add some left padding to the ordered lists */
}

.section li {
    margin-bottom: 10px; /* Add space between list items */
}

.section a {
    color: #007bff; /* Link color */
    text-decoration: none;
    font-weight: bold;
}

.section a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.logout-link {
    display: block;
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}