<!-- showAll.ejs -->

<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hotels and Room Numbers</title>
</head>
<body>
    <h1>All Hotels and Room Numbers</h1>
    <ul>
        <% hotels.forEach(hotel => { %>
            <li><%= hotel.HotelName %>:</li>
            <ul>
                <% hotel.rooms.forEach(room => { %>
                    <li>Room Number: <%= room.RoomNumber %> (<%= room.Availability ? 'Available' : 'Occupied' %>)</li>
                <% }); %>
            </ul>
        <% }); %>
    </ul>
    <p>
        <a href="http://localhost:8080/login.html">|Go home|</a></p>
</body>
</html>
